<div class="text-center mt-5">
    <input class="text-center mr-1 rounded-lg" type="text" #cityInput placeholder="Your city name">
    <button class="rounded-lg px-2 text-center ml-1 bg-[#00ADB5]" (click)="loadCurrentWeatherData()">Search</button>
</div>
<div *ngIf="currentWeatherData" class="max-w-2xl w-[95%] mx-auto rounded-lg p-5 mt-5 bg-[#222831]">
    <div>  
        <H1 class="text-2xl text-center sm:text-4xl">{{ currentWeatherData.location.name }}, {{ currentWeatherData.location.country }}</H1>
        <div class="flex justify-between items-center my-7">
            <div class="flex items-center">
                <img [src]="currentWeatherData.current.condition.icon" alt="Weather Icon" class="pt-2" width="50" height="50">
                <p class="text-2xl flex row sm:text-4xl">{{ currentWeatherData.current.temp_c }}<span class="text-lg">°C</span></p>
                <div class="pl-5 text-[10px] sm:text-xs">
                    <p><strong>Feels like:</strong> {{ currentWeatherData.current.feelslike_c }}°C</p>
                    <p><strong>Humidity:</strong> {{ currentWeatherData.current.humidity }}%</p>
                    <p><strong>Wind:</strong> {{ (currentWeatherData.current.wind_kph * 0.27778).toFixed(0) }} m/s</p>
                </div>
            </div>
            <div class="text-lg sm:text-2xl">
                <span>{{ currentWeatherData.location.localtime.split(' ')[1] }}</span>
                <p class="text-xs">Local time</p>
            </div>
        </div>
        <div class="flex text-[10px] sm:text-xs pb-2 pl-2">
            <a [routerLink]="['/temperature', cityName]" class="pr-2">Temperature °C</a>
            <a [routerLink]="['/rain', cityName]">Rain mm/h</a>
        </div>
        <router-outlet *ngIf="cityName"></router-outlet>
    </div>
</div>