<div *ngIf="weatherData" class="max-w-2xl mx-auto border border-solid border-gray-400 border-1 p-5 mt-9">
    <div>  
        <H1 class="text-4xl text-center">{{ weatherData.location.name }}, {{ weatherData.location.country }}</H1>
        <div class="flex justify-between items-center mt-9">
            <div class="flex items-center">
                <img [src]="weatherData.current.condition.icon" alt="Weather Icon" class="pt-2" width="50" height="50">
                <span class="text-4xl flex row">{{ weatherData.current.temp_c }}<p class="text-lg">°C</p></span>
                <div class="pl-5 text-xs">
                    <p>Feels like: {{ weatherData.current.feelslike_c }}°C</p>
                    <p>Humidity: {{ weatherData.current.humidity }}%</p>
                    <p>Wind: {{ (weatherData.current.wind_kph * 0.27778).toFixed(0) }} m/s</p>
                </div>
            </div>
            <div class="text-2xl">
                {{ weatherData.location.localtime.split(' ')[1] }}
            </div>
        </div>
    </div>
</div>
